<div it-step="car_mark" class="it-box it-box--padding">
  <table it-car-mark class="it-select">
    <tbody>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4"></td>
      <td><a href="#" class="it-show">Показать все</a></td>
    </tr>
    </tfoot>
  </table>
</div>


<div it-step="car_manufacturing_year" class="it-box it-box--padding">
  <table it-car-manufacturing-year class="it-select">
    <tbody></tbody>
  </table>
</div>


<div it-step="car_model_group" class="it-box it-box--padding">
  <table it-car-model-group class="it-select">
    <tbody>
    </tbody>
  </table>
</div>

<div it-step="car_model+car_cost" class="it-box it-box--padding">
  <table it-car-model class="it-select it-select-break">
    <tbody>
    </tbody>
  </table>

  <div it-car-cost>
    <input>
    <div class="slider_wrapper">
      <div class="slider"></div>
      <div class="range">
        <span>от <span class="min"></span></span>
        <span>до <span class="max"></span></span>
      </div>
    </div>
  </div>

  <div class="it-forward_wrapper">
    <button class="btn" it-forward>Далее <i class="it-icon icon-it-forward-next"></i></button>
  </div>
</div>

<div it-step="drivers+credit" class="it-box it-box--padding">
  <div class="row">
    <div class="col-sm-3">
      <div class="it-car-details">
        <h4><span it-show="show.car_mark"></span> <span it-show="show.car_model"></span></h4>
        <p><span it-show-format="calc.car_cost"></span> р.</p>
        <p><span it-show="internal.yearFilter"></span> г.</p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="form-group">
            <label>Кол-во водителей</label>
            <select class="form-control" it-driver-select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="multi">Мультидрайв</option>
            </select>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <div class="row" it-driver-multi>
            <div class="col-md-4 col-sm-5">
              <div class="form-group">
                <label><br>Мин. возраст</label>
                <input class="form-control" maxlength="2" it-driver-minimal-age="">
              </div>
            </div>
            <div class="col-md-4 col-sm-5">
              <div class="form-group">
                <label><br>Мин. стаж</label>
                <input class="form-control" maxlength="2" it-driver-minimal-experience="">
              </div>
            </div>
          </div>
          <div it-driver-count>
            <div class="row">
              <div class="col-md-3 col-sm-4">
                <div class="form-group">
                  <label><br>Возраст</label>
                  <input class="form-control" it-driver-age>
                </div>
              </div>
              <div class="col-md-3 col-sm-4">
                <div class="form-group">
                  <label><br>Стаж</label>
                  <input it-driver-experience class="form-control">
                </div>
              </div>
              <div class="col-md-3 col-sm-4">
                <div class="form-group">
                  <label><br>Пол</label>
                  <select it-driver-gender class="form-control">
                    <option value="M">М</option>
                    <option value="F">Ж</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="form-group">
            <label>Куплен в кредит</label>
            <select class="form-control" it-credit>
              <option>Нет</option>
            </select>
          </div>
        </div>
        <div class="col-md-5 col-sm-6">
          <div class="form-group">
            <label>Рассрочка</label>
            <select class="form-control" it-installments>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="form-group">
            <label>Противоугонная система:</label>
            <select class="form-control" it-antitheft>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group warranty">
            <label><input type="checkbox" it-car-on-warranty/> Автомобиль находится на гарантии</label>
          </div>
          <div style="margin-top: -20px;">
            <button class="btn" it-forward>Далее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div it-step="program_selection" class="it-program-selection">
  <div it-calculation it-program></div>
  <div class="it-box">
    <div class="it-program-showcase it-program-showcase--move3rd">
      <div class="it-program-showcase__progress">
        <div class="progress" it-program-progress>
          <div class="progress-bar">
            Опрошено компаний: 0 из 11
          </div>
        </div>
      </div>
      <div class="it-program-showcase__list" it-answer-place>
        <div class="it-program-showcase__item" it-answer-0>
          <div class="it-program it-program--highlighted">
            <div class="it-program__title">
              <div><img it-logo></div>
            </div>

            <div class="it-program__details">
              <div class="it-program__price"><span it-price></span> р.</div>
              <div class="it-program__discount">Скидка <span it-discount></span> р.</div>

              <div class="it-program__options" it-option>
              </div>
              <div class="it-program__accept">
                <button type="button" class="btn it-btn-forward it-btn-forward--active" it-accept>Заказать</button>
              </div>
            </div>
          </div>
        </div>
        <div class="it-program-showcase__item" it-answer-1>
          <div class="it-program">
            <div class="it-program__title">
              <div><img it-logo></div>
            </div>

            <div class="it-program__details">
              <div class="it-program__price"><span it-price></span> р.</div>
              <div class="it-program__discount">Скидка <span it-discount></span> р.</div>

              <div class="it-program__options" it-option>
              </div>
              <div class="it-program__accept">
                <button type="button" class="btn it-btn-forward" it-accept>Заказать</button>
              </div>
            </div>
          </div>
        </div>
        <div class="it-program-showcase__item" it-answer-2>
          <div class="it-program">
            <div class="it-program__title">
              <div><img it-logo></div>
            </div>

            <div class="it-program__details">
              <div class="it-program__price"><span it-price></span> р.</div>
              <div class="it-program__discount">Скидка <span it-discount></span> р.</div>

              <div class="it-program__options" it-option>
              </div>
              <div class="it-program__accept">
                <button type="button" class="btn it-btn-forward" it-accept>Заказать</button>
              </div>
            </div>
          </div>
        </div>
        <div class="it-program-showcase__item" it-answer-3>
          <div class="it-program">
            <div class="it-program__title">
              <div><img it-logo></div>
            </div>

            <div class="it-program__details">
              <div class="it-program__price"><span it-price></span> р.</div>
              <div class="it-program__discount">Скидка <span it-discount></span> р.</div>

              <div class="it-program__options" it-option>
              </div>
              <div class="it-program__accept">
                <button type="button" class="btn it-btn-forward" it-accept>Заказать</button>
              </div>
            </div>
          </div>
        </div>
        <div class="it-program-showcase__item" it-answer-4>
          <div class="it-program">
            <div class="it-program__title">
              <div><img it-logo></div>
            </div>

            <div class="it-program__details">
              <div class="it-program__price"><span it-price></span> р.</div>
              <div class="it-program__discount">Скидка <span it-discount></span> р.</div>

              <div class="it-program__options" it-option>
              </div>
              <div class="it-program__accept">
                <button type="button" class="btn it-btn-forward" it-accept>Заказать</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="it-divider">
  </div>

  <div class="it-calculation">
    <div class="it-calculation__highlight">
      Расчет <span class="it-calculation__number">№
            <span it-show="calculation.id"></span>
          </span>
    </div>

    <div class="it-calculation__note"> Для быстрого
      заказа или консультации сообщите № расчета нашим специалистам
    </div>
  </div>


  <div it-answer-template class="it-remain-programs">
    <div class="it-remain-programs__template">
      <div class="it-remain-programs__cell">
        <div class="it-remain-programs__title"><img it-logo></div>
      </div>

      <div class="it-remain-programs__cell">
        <div class="it-remain-programs__price"><span it-price></span> р.</div>
        <div class="it-remain-programs__discount">Скидка <span it-discount></span> р.</div>
      </div>

      <div class="it-remain-programs__cell">
        <div class="it-remain-programs__options" it-option>
        </div>
      </div>

      <div class="it-remain-programs__cell">
        <div class="it-remain-programs__accept">
          <button type="button" class="btn it-btn-forward it-btn-forward--active" it-accept>Заказать полис
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div it-step="extra_parameters">

  <div class="it-box it-box--padding">
    <div class="it-result-summary">
      <div class="it-result-summary__container">
        <div class="it-result-summary__details">
          <div>Проверьте введенные данные:</div>
          <div><span it-show="show.car_mark"></span> <span it-show="show.car_model"></span></div>
          <div><span it-show-format="calculation.car_cost"></span> р., <span
              it-show="calculation.car_manufacturing_year"></span> г.
          </div>
          <div it-show-drivers>
            <div>Возраст: <span it-age></span>,
              стаж: <span it-experience></span>,
              <span it-gender></span>
            </div>
          </div>
        </div>
        <div class="it-result-summary__credit">
          <div it-show-credit></div>
          <div it-show-warranty></div>
        </div>
      </div>
      <div class="it-result-summary__product">
        <p>Выбранный страховой продукт:</p>
        <h4 it-show="program.insurance_company.title"></h4>
      </div>
    </div>

    <hr class="it-box__splitter">

    <div class="it-program-messages" it-program-messages>
      <div class="it-program-messages__messages it-program-messages--errors" it-errors>

      </div>
      <div class="it-program-messages__messages it-program-messages--warnings" it-warnings>

      </div>
      <div class="it-program-messages__messages it-program-messages--messages" it-messages>

      </div>
      <div class="it-program-messages__messages" it-print-msg>

      </div>
    </div>

    <div class="it-program-details">
      <div class="it-options" it-option-container>
        <div it-title class="it-options__title">
        </div>
        <div it-note class="it-options__note">
        </div>
      </div>
      <div class="it-extra-parameters">
        <div class="it-extra-parameters__fields" it-program-options>
          <div class="form-group" it-for-input>
            <label it-label></label>
            <span it-replacewith-input class="form-control"></span>
          </div>
          <div class="form-group" it-for-checkbox>
            <label it-label>
              <span it-replacewith-input></span>
            </label>
          </div>
        </div>

        <div class="it-extra-parameters__confirm">
          <span class="it-extra-parameters__price"><span it-show-sum="show.extraParameters.sum"></span> руб.</span>
          <button class="it-extra-parameters__order" type="button" class="btn it-btn-forward it-btn-forward--active"
                  it-forward>
            Заказать
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="it-calculation">
    <div class="it-calculation__highlight">
      Расчет <span class="it-calculation__number">№
            <span it-show="show.extraParameters.resultId"></span>
          </span>
    </div>

    <div class="it-calculation__note"> Для быстрого
      заказа или консультации сообщите № расчета нашим специалистам
    </div>

    <div class="it-calculation__email">
      <div class="form-inline text-right">
        <div class="form-group">
          <input it-notification-email placeholder="email@example.com" class="form-control">
        </div>
        <div class="form-group">
          <button type="button" class="btn it-btn-forward it-btn-forward--active"
                  it-notification-send>
            Отправить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div it-step="order">

  <div class="it-box it-box--padding">
    <div class="it-result-summary">
      <div class="it-result-summary__container">
        <div class="it-result-summary__details">
          <div>Проверьте введенные данные:</div>
          <div><span it-show="show.car_mark"></span> <span it-show="show.car_model"></span></div>
          <div><span it-show-format="calculation.car_cost"></span> р., <span
              it-show="calculation.car_manufacturing_year"></span> г.
          </div>
          <div it-show-drivers>
            <div>Возраст: <span it-age></span>,
              стаж: <span it-experience></span>,
              <span it-gender></span>
            </div>
          </div>
        </div>
        <div class="it-result-summary__credit">
          <div it-show-credit></div>
          <div it-show-warranty></div>
        </div>
      </div>
      <div class="it-result-summary__product">
        <p>Выбранный страховой продукт:</p>
        <h4 it-show="program.insurance_company.title"></h4>
      </div>
    </div>

    <form id="order_form" it-order-form="">
      <div class="row">
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Ваше имя</label>
                <input it-order-name="" class="form-control input-danger" id="name" name="name" required="">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>Контактный телефон</label>
                <input it-order-phone="" class="form-control input-danger" id="phone" name="phone"
                       required="" placeholder="+7 (___) ___-__-__">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="to_address">
        <div class="col-xs-3">
          <div class="form-group">
            <br>
            <label><input type="radio" name="delivery" value="address" checked="" required=""
                          it-order-delivery>
              Бесплатная
              доставка в течение 2х дней
            </label>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-5">
              <div class="form-group">
                <label>Адрес доставки</label>
                <input it-order-address="" class="form-control input-danger"
                       name="address" required="">
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label>Дата доставки</label>
                <input it-order-date="" id="delivery_date" class="form-control input-danger"
                       name="date" required="">
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label>Время доставки</label>
                <input it-order-time="" class="form-control input-danger"
                       name="time" required="" placeholder="__:__">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="to_office">
        <div class="col-xs-3">
          <div class="form-group">
            <br>
            <label><input type="radio" name="delivery" value="office" required="" it-order-delivery>
              Оформление в
              офисе</label>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label>Дата оформления</label>
                <input it-order-date="" class="form-control" id="office_date"
                       name="date" required="" disabled="">
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label>Время оформления</label>
                <input it-order-time="" class="form-control" id="office_time" name="time" required=""
                       disabled="" placeholder="__:__">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button it-order-submit="" class="btn btn-warning btn-danger" type="submit" id="submit_order" disabled="">
          Заказать
        </button>
        &nbsp;&nbsp;&nbsp;
      </div>
    </form>

  </div>

</div>
