.it-box {
  background-color: @gradient-default;

  label {
    font-weight: normal !important;
  }

  &__splitter {
    opacity: 0.5;
  }

  &_a {

  }
}

.it-box--padding {
  padding: @box-padding;
}