.it-calculation {
  @base-color: #08a4ea;
  @xs-margin: 15px;

  display: table;
  width: 100%;
  background: @body-background;
  color: black;
  font-size: 1.4em;
  margin: 15px 0;

  @media all and (max-width: @screen-sm-max) {
    text-align: center;
  }

  &__highlight {
    display: table-cell;
    color: @base-color;
    white-space: nowrap;

    @media all and (max-width: @screen-sm-max) {
      display: block;
    }
  }

  &__number {
    color: darken(@base-color, 10%);
    font-weight: bold;
  }

  &__note {
    display: table-cell;
    text-align: center;
    color: #9d9d9d;

    @media all and (max-width: @screen-sm-max) {
      margin-top: @xs-margin;

      display: block;
    }
  }

  &__email {
    display: table-cell;
    text-align: right;
    white-space: nowrap;
    color: #9d9d9d;
    min-width: 310px; //magic for keeping button in container

    @media all and (max-width: @screen-sm-max) {
      margin-top: @xs-margin;

      text-align: center;

      display: block;
    }
  }
}