[it-forward] {
  color:white;
  background-color: @button-gradient;

  padding: 10px 35px 10px 35px;
  border-radius: 4em;

  margin-bottom: 10px;
  margin-top: 10px;

  border: 1px solid @button-gradient;

  .linear-gradient(lighten(@button-gradient, 0%), @button-gradient);

  &.invalid {
    border: 1px solid @button-gradient-invalid;
    .linear-gradient(lighten(@button-gradient-invalid, 0%), @button-gradient-invalid);
  }

  &:focus {
    outline: none;
  }
}

.it-forward_wrapper {
  @media all and (max-width: @screen-xs-max) {
    text-align: center;
  }
}
