.it-program {
  position: static !important;
  padding: @program-border-size+5;
  @digit-color: #c5790a;
  @button-padding: 45px;

  &__title {
    height: @program-title-size;

    @media all and (max-width: @screen-xs-max) {
      height: auto;
    }

    img {
      width: 100%;

      @media all and (max-width: @screen-xs-max) {
        width: auto;
        max-height: 50px;
      }
    }
  }

  &__price {
    font-size: 1.8em;
    font-weight: bold;
    color: @digit-color;
    text-transform: uppercase;
  }

  &__discount {
    color: @digit-color;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
  }

  &__details {
    padding-top: 10px;
    line-height: 2em;
  }

  &__options {
    hr {
      margin: 8px auto;
      width: 30%;
      opacity: 0.5;
    }
  }

  @media all and (min-width: @screen-xs) {
    padding-bottom: @button-padding;

    &__accept {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px + @program-border-size;
    }
  }

  @media all and (max-width: @screen-xs-max) {
    border-bottom: @program-border;
  }
}

.it-program--highlighted:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: @step-margin;
  right: @step-margin;

  @media all and (max-width: @screen-xs-max) {
    border-top: @program-border;
  }

  border-top: @program-border;
  border-left: @program-border;
  border-right: @program-border;
  border-bottom: @program-border;
}