.transform (@deg) {
  -ms-transform: rotate(@deg); /* IE 9 */
  -webkit-transform: rotate(@deg); /* Chrome, Safari, Opera */
  transform: rotate(@deg);
}

.linear-gradient(@top,@bottom) {
  background: @top;

  background: -webkit-linear-gradient(to right, @top,
  @bottom);

  background: -moz-linear-gradient(to right, @top,
  @bottom);

  background: linear-gradient(to right, @top,
  @bottom);
}

.medium-word-wrap {
  @media all and (max-width: @screen-sm-max) {
    [it-step-nav] {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}